//
//  Base.xcconfig
//  Detector
//
//  Created by Markus Schmid on 24.02.26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

CONFIGURATION_BUILD_DIR = $(SRCROOT)/build/$(CONFIGURATION)
